* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: green;
    position: sticky;
    top: 0px;
}
.headeru{
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-left: 250px;
}
.inlog{
    margin-left: 100px;
    border: none;
    background-color: green;
}
.header1{
    border:  solid;
    border-radius: 8px;
    background-color: rgb(8, 173, 60);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 8px;
    margin-left: 100px;

}
a{
    text-decoration: none;
    color: white;
}
footer{
    background-color:green;
    min-height: 15vh;
    width: 100%;
    position: static;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footerh{
    color: white;
}
.footeru{
    list-style-type: none;
}
.footerd{
    margin-left: 50px;
    margin-right: 50px;
}
.headern{
    margin-left: -230px;
}
.dropdown{
    position: relative;
    border:  solid;
    border-radius: 8px;
    background-color: rgb(8, 173, 60);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 8px;
    margin-left: 100px;
}
.dropdown-content{
    display: none;
    background-color:green;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    position: absolute;
}
.dropdown-content a{
    color: white;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
  }
  section{min-height: 6vh;
    width: 100vw;
    text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;}

.s2{
    display: flex;
    flex-direction: row;
    justify-content:space-around
}
.s2 div{
    min-width: 40vw;
    background-color: green;
    min-height: 100vh;
    padding-top: 50px;
    font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    background-color: greenyellow;
}
br{ font-family: Verdana, Geneva, Tahoma, sans-serif;}
#canvas{
    margin-top: 100px;
}
#eduarte{ margin-top: 100px;}
.lesmateriaal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90px;
    text-align: center;
}